
table {
    border-collapse: collapse;
    width: 90%;
    margin: 50px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    table-layout: fixed;
    background-color: rgba(255, 255, 255, 1);
    }
th, td {
    border: 1px solid black;
    padding: 10px;
    word-wrap: break-word;
    height: 40px; 
    }
th {
    background-color: #2c9eeb;
    }

h1{
    text-align: center;
    color: #2a6f97;
    font-size: 40px;
    margin-top: 40px;
}
h5{
    text-align: center;
    color:black;
    font-family:sans-serif;
}

#formularioInventario table {
            border: none !important; /* Este es para que no le afecte lo de la css de la tabla de arribita */
            box-shadow: none;
        }


        #formularioInventario td {
            border: none !important;
            padding: 5px; 
            text-align: right; 
            font-weight: bold; 
            color: #333;
        }
        