h1{
    text-align: center;
    color: #2a6f97;
    font-size: 40px;
    margin-top: 40px;
    margin: 5px 0;
}
h5{
    text-align: center;
    color:black;
    font-family:cursive;
}

  body {
    margin: 0;
    padding: 0;
  }
